.footer {
  background: #333333;
  padding: 20px;
}

.footer h2 {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.footer p {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font: 14px;
  text-align: center;
}