.input-container {
  width: 350px;
  margin: auto;
}

.title {
  color: #d85999;
  text-align: center;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.input-container label,
.input-container input,
.input-container textarea,
.input-container button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
}

.input-container input,
.input-container textarea {
  background: #ecf0f3;
  margin: 15px 0 0 0;
  padding-left: 20px;
  height: 50px;
}

.error-message {
  color: red;
  margin: 10px;
}
.error-message::before {
  content: "âŒ ";
}